p {
  font-family: arial;
  color: grey;
  text-align: center;
}

.introduction {
  font-family: arial;
  color: black;
}

body {
  background: lightpink;
  font-family: arial;
  color: grey;
}

h1 {
  text-align: center;
 
{

h2{
  text-align: center;
}
  
#ListEducation {
  text-align: left;
}
  
.image {
  width: 150px;
  height: 150px;
}
