p {
  font-family: arial;
  color: grey;
}

.title {
  font-family: arial;
  color: black;
}

body {
  background: lightpink;
  font-family: arial;
  color: grey;
}

h1 {
  text-align: center;
 
{

h2{
  text-align: center;
}
